.idea
.cache/
.sonar/
.tox/
venv/
media/

build/
dist/
*.egg-info

/static

eb-env

*.iml
*.model
*.sqlite3
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
